<section class="">
    <div class="container d-flex justify-content-center">
      <div class="row w-75 mt-5">
        <div class="col-md-12">
          <h2 class="text-center">Add Banner</h2>
          <form action="/admin/add_banner" method="POST" enctype="multipart/form-data">
            <label for="">Title</label>
            <input type="text" name="title" class="form-control" />
            <label for="">Description</label>
            <input type="text" name="description" class="form-control" />
            <label for="">Link</label>
            <input type="text" name="link" class="form-control" />
            <label for="">Image</label>
            <input type="file" name="image" class="form-control" />
            <button type="submit" class="btn btn-success mt-4">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>