<section class="">
  <div class="container d-flex justify-content-center">
    <div class="row w-75 mt-5">
      <div class="col-md-12">
        <h2 class="text-center">Add Product</h2>
        <form
          action="/admin/add_product"
          method="POST"
          enctype="multipart/form-data"
          id="myform"
        >
          <label for="">Prodcut Name</label>
          <input type="text" name="name" id="name" value="" class="form-control"onkeyup="validateName()" required=""  />
          <span id="name-error" class="validation-label"></span>
          <br>
          <input type="text" name="description" id="discription" class="form-control" onkeyup="validateDiscription()" required=""/>
          <span id="discription-error" class="validation-label"></span>
          <br>

          <label for="">Price</label>
          <input type="text" name="price" value="1" class="form-control" />

          <label for="">Category</label>
          
          <select class="form-select" name="category" id="cars">
            <% response.forEach(function(response) { %>
            <option><%=response.CategoryName %></option>
            <% } )%>
          </select>
          
          <label for="">Quantity</label>
          <input type="text" name="quantity" value="1" class="form-control" required/      
          oninvalid="this.setCustomValidity('Please select an image file.')"
          onchange="this.setCustomValidity('')">


          <label for="">Image1</label>
          <input type="file" name="file" class="form-control" accept="image/*"  required/>

          <!-- <label for="">Image2</label>
          <input type="file" name="file" class="form-control" accept="image/*" required/>

          <label for="">Image3</label>
          <input type="file" name="file" class="form-control" accept="image/*" required/>

          <label for="">Image4</label>
          <input type="file" name="file" class="form-control" accept="image/*" required/> -->

       

          <button type="submit" class="btn btn-success mt-4">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>

<script>


  let nameError = document.getElementById("name-error");
  let discritionError = document.getElementById("discription-error");
  let myform = document.getElementById('myform');
  const regex = /^[^ ].*/


  function validateName() {
    var name = document.getElementById("name").value;
    var nameInput = document.getElementById("name");
  console.log(name);
    if (name.length == 0) {
      nameError.innerHTML = "Name is required";
      nameError.style.color = "red";
      nameInput.style.border = "solid 2px red";
      return false;
    } if (!name.match(regex)) {
      nameError.innerHTML = "Write valid name";
      nameError.style.color = "red";
      nameInput.style.border = "solid 2px red";
      return false;
    }
    nameError.innerHTML = "";
    nameError.style.color = "green";
    nameInput.style.border = "solid 2px green";
    return true;
  }


  function validateDiscription() {
    var name = document.getElementById("discription").value;
    var nameInput = document.getElementById("discription");
  console.log(name);
    if (name.length == 0) {
      discritionError.innerHTML = "Discription is required";
      discritionError.style.color = "red";
      nameInput.style.border = "solid 2px red";
      return false;
    } if (!name.match(regex)) {
      discritionError.innerHTML = "Write valid discription";
      discritionError.style.color = "red";
      nameInput.style.border = "solid 2px red";
      return false;
    }
    discritionError.innerHTML = "";
    discritionError.style.color = "green";
    nameInput.style.border = "solid 2px green";
    return true;
  }

  myform.addEventListener('submit',(event)=>
  {
    event.preventDefault();
    
    if(!validateName() || !validateDiscription())
    {
      return false;
    }
    else
    {
      myform.submit();
    }
  })
  </script>

<style>

body {
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
}

form {
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

label {
	display: block;
	margin-bottom: 5px;
}



</style>