<section class="">
    <div class="container d-flex justify-content-center">
      <div class="row w-75 mt-5">
        <div class="col-md-12">
          <h2 class="text-center">Edit Category</h2>
          <form
            action="/admin/edit_category/<%= response._id %>"
            method="POST"
           
          >
            <label for="">Category Name</label>
            <input type="text" name="editCategoryname" class="form-control" value="<%=response.CategoryName %>"/>
            <label for="">Add an offer</label>
            <input type="text" name="editCategoryoffer" class="form-control" value="0"/>
            <button type="submit" class="btn btn-info text-white mt-4">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  
<style>

  body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  
  
  </style>