<section class="vh-100 " style="background-color: #fff;">
  <div class="container  h-100">
    <div class="row d-flex justify-content-center align-items-center h-100" >
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong">
          <div class="card-body text-center">

            <h3 class="mb-5"><span><h6 style="color: rgb(247, 207, 154);">Admin</h6></span> Sign in</h3>

         

            <form action="/admin/login" method="post">

              <div class="form-outline mb-4">
                <label class="form-label" for="typeEmailX-2">Email</label>
                <input type="email" name="email" id="typeEmailX-2" class="form-control form-control-lg" />
               
              </div>
  
              <div class="form-outline mb-4">
                <label class="form-label" for="typePasswordX-2">Password</label>
                <input type="password" name="password" id="typePasswordX-2" class="form-control form-control-lg" />
               
              </div>        
               <br>
         

            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>

            <br>

          </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>