<aside class="navbar-aside" id="offcanvas_aside">
  <div class="aside-top">
    <a href="#" class="brand-wrap">
      <img style="height: 4rem; width: 7rem;" src="https://freelogocreator.com/user_design/logos/2023/03/16/125820.jpg" alt="rapiddelux">
      <p>ADMIN PANEL</p>
    </a>
    <div>
      <button class="btn btn-icon btn-aside-minimize">
        <!-- <i class="text-muted material-icons md-menu_open"></i> -->
      </button>
    </div>
  </div>
  <nav>
    <ul class="menu-aside">
      <li class="menu-item active">
        <a class="" href="/admin">
          <!-- <i class="icon material-icons md-home"></i> -->
          <span class="text" style="color: #000">Dashboard</span>
        </a>
      </li>
      <li class="menu-item has-submenu">
        <a class="" href="/admin/view_product">
          <!-- <i class="icon material-icons md-shopping_bag"></i> -->
          <span class="text" style="color: #000">Products</span>
        </a>
      </li>
      <li class="menu-item has-submenu">
        <a class="" href="/admin/add_category">
          <!-- <i class="icon material-icons md-store"></i> -->
          <span class="text" style="color: #000">Categories</span>
        </a>
      </li>
      <!-- <li class="menu-item has-submenu">
        <a class="" href="/admin/add_sub">
          <i class="icon material-icons md-store"></i>
          <span class="text" style="color: #000">Sub Categories</span>
        </a>
      </li> -->
      <!-- <li class="menu-item has-submenu">
        <a class="" href="/orders">
          <i class="icon material-icons md-shopping_cart"></i>
          <span class="text" style="color: #000">Orders</span>
        </a>
      </li> -->

      <li class="menu-item has-submenu">
        <a class="" href="/admin/add_product">
          <!-- <i class="icon material-icons md-add_box"></i> -->
          <span class="text" style="color: #000">Add Product</span>
        </a>
      </li>
      <li class="menu-item has-submenu">
        <a class="" href="/admin/view_users">
          <!-- <i class="icon material-icons md-person"></i> -->
          <span class="text" style="color: #000">Users</span>
        </a>
      </li>
      <li class="menu-item has-submenu">
        <a class="" href="/admin/add_coupons">
          <!-- <i class="icon material-icons md-person"></i> -->
          <span class="text" style="color: #000">Add a coupon</span>
        </a>
      </li>
      <li class="menu-item has-submenu">
        <a class="" href="/admin/coupons">
          <!-- <i class="icon material-icons md-person"></i> -->
          <span class="text" style="color: #000">Manage coupon</span>
        </a>
      </li>
      <li class="menu-item has-submenu">
        <a class="" href="/admin/sales_report">
          <!-- <i class="icon material-icons md-person"></i> -->
          <span class="text" style="color: #000">Sales Report</span>
        </a>
      </li>
  
      
      <li class="menu-item">
        <a class="" href="/admin/list_banner">
          <!-- <i class="icon material-icons md-comment"></i> -->
          <span class="text" style="color: #000">Banner</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="" href="/admin/add_banner">
          <!-- <i class="icon material-icons md-comment"></i> -->
          <span class="text" style="color: #000">Add Banner</span>
        </a>
      </li>

      <li class="menu-item">
        <a class="" href="/admin/view_orders">
          <!-- <i class="icon material-icons md-comment"></i> -->
          <span class="text" style="color: #000">Orders</span>
        </a>
      </li>

      <li class="menu-item">
        <a class="" href="/admin/logout">
          <!-- <i class="icon material-icons md-comment"></i> -->
          <span class="text" style="color: rgb(241, 10, 10); text-decoration: none;">Log out</span>
        </a>
      </li>
     
    </ul>
    <hr />
  
    <br />
    <br />
  </nav>
</aside>