<section class="mt-50 mb-50">
        <div class="container">
           
           
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-25">
                        <h4>Add a new address</h4>
                    </div>
                    <form  action="" id="checkout-form">
                        <div class="form-group">
                            <input type="text" required="" name="fname" placeholder="First name *">
                        </div>
                       
                        <div class="form-group">
                            <input required="" type="text" name="street" placeholder="Street Name">
                        </div>
                        
                        <div class="form-group">
                            <input type="text" name="apartment" required="" placeholder="Apartment *">
                        </div>
                        <div class="form-group">
                            <input type="text" name="city" required="" placeholder="City">
                        </div>
                        <div class="form-group">
                            <input required="" type="text" name="state" placeholder="State">
                        </div>
                        <div class="form-group">
                            <input required="" type="text" name="pincode" placeholder="Pincode">
                        </div>
                        <div class="form-group">
                            <input required="" type="text" name="mobile" placeholder="Mobile">
                        </div>
                        <div class="form-group">
                            <input required="" type="text" name="email" placeholder="email">
                        </div>
                        <div class="form-group">
                            <input   name="userId"  value="<%= user.id%>"  type="hidden"  >
                        </div>
                        
                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                       
                    <button type="submit" class="btn btn-dark">Add address </button> <span><a href="/profile" class="btn btn-primary">cancel</a></span>
                    </form>
                    
                </div>
              
            </div>
        </div>
    </section>
</main>




<script>
$('#checkout-form').submit((e)=>{
  e.preventDefault()
  $.ajax({
    url:'/add_address',
    method:'post',
    data:$('#checkout-form').serialize(),
    success:(response)=>{
       
    }
  })
})



</script>