<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center
        min-vh-100 g-0">
      <div class="col-12 col-md-8 col-lg-4 border-top border-3 border-primary">
        <div class="card shadow-sm">
          <div class="card-body">
            <div class="mb-4">
              <h5>Reset password</h5>
              <p class="mb-2">Enter your old password to reset the password
              </p>
            </div>
            <form id="update">
              <div class="mb-3">
                <label for="pwd" class="form-label">Old Pasword</label>
                <input 
                type="password" 
                id="pwd" 
                class="form-control" 
                name="password" 
                placeholder="Enter Your Old password"
                >
              </div>
              <div class="mb-3">
                <label for="pwd" class="form-label">New Pasword</label>
                <input 
                type="password" 
                id="password2" 
                class="form-control" 
                name="password2" 
                placeholder="Enter Your New password"
                onkeyup="validatePassword()"
                 >
                  <span id="pass-error" class="validation-label"></span>

              </div>
              <div class="mb-3">
                <label for="pwd" class="form-label">Re Enter Pasword</label>
                <input 
                type="password" 
                id="cnfrm-password" 
                class="form-control" 
                name="cnfrm-password" 
                placeholder="Re Enter Your New password"
                onkeyup="validateRePassword()"
                >
                  <span id="pass-error" class="validation-label"></span>

              </div>
              <div class="mb-3 d-grid">
                <!-- return validateForm(); validatePassword()-->
                <button type="submit" onclick=" newPassword('<%=locals.user%>');" class="btn btn-primary" >Click me</button>
                  Reset Password
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
  function newPassword(profileId) {
    console.log(profileId);
    $('#update').submit((e) =>{
        e.preventDefault();
        $.ajax({
        url: '/enter_new_pwd?proId='+profileId,
        method: "PUT",
        data:$('#update').serialize(),
        success: (response) => {
          console.log(response);
          if(response){
                Swal.fire({
  position: 'center',
  icon: 'success',
  title: 'Your password has been updated',
  showConfirmButton: false,
  timer: 1500
})
// location.href="/profile"
            }
            else{
                Swal.fire({
  icon: 'error',
  title: 'Enter old password correctly!!',
  
})
            }
        },
        });
    })
}
</script>

<script>
let passError=document.getElementById("pass-error");
let form = document.getElementById('update')
function validatePassword(){
     
    let password = document.getElementById("password2").value;
    let passwordInput = document.getElementById("password2")
    let cnfrmPassword = document.getElementById("cnfrm-password").value;
    let cnfrmPasswordInput= document.getElementById("cnfrm-password")
    
        if(password.length != 0){
           
            if (!password.match(/[a-zA-Z]/)) {
              passError.innerHTML = "Password must contain atleast 1 letter";
              passError.style.color = "red";
              passwordInput.style.border = "solid 2px red";
              return false;
            }
            else if (!password.match(/^.{8,}$/)) {
              passError.innerHTML = "Password min-length 8";
              passError.style.color = "red";
              passwordInput.style.border = "solid 2px red";
              return false;
            }
            else if (!password.match(/^(?=.*[\W_])[\w\W]/)) {
              passError.innerHTML = "Password must contain atleast one special character";
              passError.style.color = "red";
              passwordInput.style.border = "solid 2px red";
              return false;
            }
            else{
                passError.innerHTML = "Password don't match";
                passError.style.color = "red";
                passwordInput.style.border = "solid 2px red";
                return false
    
    
            }
              passError.innerHTML = "match";
              passError.style.color = "green";
              passwordInput.style.border = "solid 2px green";
              return true
        }
        else{
            
              message.textContent = "";
            return false
        }
    
    }

    function validateRePassword()
    {
    let password = document.getElementById("password2").value;
    let passwordInput = document.getElementById("password2")
    let cnfrmPassword = document.getElementById("cnfrm-password").value;
    let cnfrmPasswordInput= document.getElementById("cnfrm-password")

    if(password.length != 0)
    {
      if(password == cnfrmPassword)
      {
        passError.innerHTML = "match";
              passError.style.color = "green";
              passwordInput.style.border = "solid 2px green";
        return true
      }
      else
      {
        passError.innerHTML = "Password don't match";
                passError.style.color = "red";
                passwordInput.style.border = "solid 2px red";
        return false
      }
    }
    }
    

   form.addEventListener('submit',(event)=>
  {
    event.preventDefault();
    if(!validatePassword())
    {
      return false;
    }
    else
    {
      form.submit();
    }
  })
</script>
