
<body>
	<div class="container text-center m-5">
		<h1  class="text-center mt-5">Thank You for Your Order!</h1>
		<p class="text-center ">Your order has been received and will be processed shortly.</p>

		<div class="cta m-5">
			<a href="/shop" class="button">Continue Shopping</a>
		</div>
	</div>
</body>

