<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center
        min-vh-100 g-0">
      <div class="col-12 col-md-8 col-lg-4 border-top border-3 border-primary">
        <div class="card shadow-sm">
          <div class="card-body">
            <div class="mb-4">
              <h5>Forgot Password?</h5>
              <p class="mb-2">Enter your registered email ID to reset the password
              </p>
            </div>
            <form id="reset">
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" class="form-control" name="email" placeholder="Enter Your Email"
                  required="">
              </div>
              <div class="mb-3 d-grid">
                <button onclick="resetPassword('<%=locals.profileId%>')" class="btn btn-primary">
                  Reset Password
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  function resetPassword(profileId) {
    console.log(profileId);
    $('#reset').submit((e) =>{
        e.preventDefault();
        $.ajax({
        url: `/reset_password/${profileId}`,
        method: "POST",
        data:$('#reset').serialize(),
        success: (response) => {
          if(response){
            
            location.href='/enter_new_pwd';
          }
        },
        });
    })
}
</script>

