<section>
   
    <main class="main">
      <section class="p-auto my-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 m-auto">
              <div class="row d-flex justify-content-center">
                <div class="col-lg-6">
                  <div
                    class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5"
                  >
                    <div class="padding_eight_all bg-white">
                      <div class="heading_s1">
                        <h5 class="mb-30">Enter the correct information for change your password</h5>
                      </div>
                      <%if(locals.updateStaus==true){%>
                        <p style="color: red;" class="message">user not exist</p>
                        <%}%>
                    

                      <form action="/update_password" method="POST">
                        <div class="form-group">
                          <input
                            type=""
                            required=""
                            name="email"
                            placeholder="enter your email address"
                          />
                        </div>
                        <div class="form-group">
                            <input
                              type=""
                              required=""
                              name="password"
                              placeholder="enter your new password"
                            />
                          </div>
                       
                        <div class="form-group">
                          <button
                            type="submit"
                            class="btn btn-fill-out btn-block hover-up"
                            name="login"
                            style="width: 100%"
                          >
                            Submit
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
   
   
  </section>
  <!-- <script>
    setTimeout(function () {
      document.querySelector(".message").style.display = "none";
    }, 2000);
  </script> -->