<!-- Quick view -->
<section>

  <main class="main">
   <!-- banner -->

   <section class="home-slider position-relative pt-50">
    <div class="hero-slider-1 dot-style-1 dot-style-1-position-1">

  
        <% bannerData.forEach(function(bannerData) { %>
          <div class="single-hero-slider single-animation-wrap">
            <div class="container">
                <div class="row align-items-center slider-animated-1">
                    <div class="col-lg-5 col-md-6">
                        <div class="hero-slider-content-2">
                            <h4 class="animated"><%=bannerData.title%></h4>
                            <h2 class="animated fw-900"><%=bannerData.description%></h2>
                            <h1 class="animated fw-900 text-brand">On all products</h1>
                            <p class="animated">Save more with coupons & up to 70% off</p>
                            <a class="animated btn btn-brush btn-brush-3" href="/uploads/<%= bannerData.Image %>"> Shop Now </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="single-slider-img single-slider-img-1">
                            <img class="animated slider-1-1" src="/uploads/<%=bannerData.image %>" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
          
        <% }) %>
   
      
     
    
    </div>
    <div class="slider-arrow hero-slider-1-arrow"></div>
</section>



    
    <section class="product-tabs section-padding wow fadeIn animated">
      <div class="container">
      
        <!--End nav-tabs-->
        <div class="tab-content wow fadeIn animated" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="tab-one"
            role="tabpanel"
            aria-labelledby="tab-one"
          >
            <div class="row product-grid-4">
             
               
           
            
              
            </div>
            <!--End product-grid-4-->
          </div>
          <!--En tab one (Featured)-->
          <div
            class="tab-pane fade"
            id="tab-two"
            role="tabpanel"
            aria-labelledby="tab-two"
          >
           
       
          </div>
    
          <div
            class="tab-pane fade"
            id="tab-three"
            role="tabpanel"
            aria-labelledby="tab-three"
          >
        
          </div>
          <!--En tab three (New added)-->
        </div>
        <!--End tab-content-->
      </div>
    </section>
  
 
    





    
    
  </main>
 
  <!-- Preloader Start -->
  <div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
      <div class="preloader-inner position-relative">
        <div class="text-center">
          <h5 class="mb-5">Now Loading</h5>
          <div class="loader">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


